apiVersion: v1
kind: Pod
metadata:
  name: keepalived
  namespace: kube-system
spec:
  hostNetwork: true
  containers:
  - name: keepalived
    image: osixia/keepalived:2.0.20
    volumeMounts:
    - mountPath: /etc/keepalived
      name: volume1
    - mountPath: /usr/local/etc/keepalived/keepalived.conf
      name: volume2
    securityContext:
      capabilities:
        add: ["NET_ADMIN", "NET_BROADCAST", "NET_RAW"]
  volumes:
  - name: volume1
    hostPath:
      path: /etc/kubernetes/keepalived
  - name: volume2
    hostPath:
      path: /etc/kubernetes/keepalived/keepalived.conf