{
    "registry-mirrors": ["https://registry.docker-cn.com", "https://docker.mirrors.ustc.edu.cn"],
    "storage-driver" : "overlay2",
    "data-root" : "{{docker_data_root}}",
    "log-driver": "json-file",
    "log-opts": {
        "max-size": "1g"
    },
    "exec-opts": ["native.cgroupdriver=systemd"],
    "bridge": "none"
}

